<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>문진표 작성</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
  <script>
    function CheckForm(event){
      var name = document.getElementsByName("P_Name")[0].value;
      var regnum = document.getElementsByName("P_RegNum")[0].value;
      var phone = document.getElementsByName("P_Phone")[0].value;
      var agreement = document.querySelector('input[name="P_Agreement"]:checked').value;
      var address = document.getElementsByName("P_Address1")[0].value;
      
      var namePattern = /^[가-힣]{2,4}$/; //2-4자리 이름 허용
      var phonePattern = /^\d{11}$/; // 11자리 숫자만 허용
      var regnumPattern = /^\d{6}$/; // 6자리 숫자만 허용
      var addressPattern = /^[가-힣]+[시도]\s[가-힣]+[구군]\s[가-힣0-9]+[로길]\s\d+(-\d+)?$/;
      
      if (!namePattern.test(name)) {
        alert("이름은 2~4글자 사이의 한글만 입력 가능합니다.");
        event.preventDefault();
        return false;
      }

      if (!regnumPattern.test(regnum)) {
        alert("주민번호는 앞 6자리 숫자만 입력해주세요.");
        event.preventDefault();
        return false;
      }

      if (!phonePattern.test(phone)) {
        alert("전화 번호는 숫자 11자리로만 입력해주세요.\n예) 01012341234");
        event.preventDefault();
        return false;
      }

      if (!addressPattern.test(address)) {
        alert("주소 형식이 올바르지 않습니다.\n예) 대구광역시 수성구 달구벌대로 1234-12\n예) 서울특별시 강남구 테헤란로 123");
        event.preventDefault();
        return false;
      }

      if(agreement !== "1"){
        alert("개인 정보 수집에 동의해야 합니다.");
        event.preventDefault();
        return false;
      }
      
      return true;
    }
  </script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<header th:insert="/PatientInfo/Header.html"></header>
  <div class="container mt-4" style="max-width:400px;">
    <h3>문진표 작성</h3>
    <hr>
    <form method="POST" th:object="${UserInfo}" th:action="@{/PatientInfo/Input}" onsubmit="return CheckForm(event)">
      <!-- 아이디 -->
      <div class="form-group">
        <label for="P_UserId"><strong>* 아이디</strong></label>
        <input type="text" class="form-control" name="P_UserId" th:value="*{UserId}" disabled required />
      </div>
      
      <!-- 이름 -->
      <div class="form-group">
        <label for="P_Name"><strong>* 이름</strong></label>
        <input type="text" class="form-control" name="P_Name" th:value="*{UserName}" required />
      </div>

      <!-- 성별 -->
      <div class="form-group">
        <label><strong>* 성별</strong></label><br>
        <input type="radio" name="P_Gender" value="F" th:checked="*{UserGender == 'F'}" required/> 여성　
        <input type="radio" name="P_Gender" value="M" th:checked="*{UserGender == 'M'}" /> 남성
      </div>

      <!-- 주민번호 -->
      <div class="form-group">
        <label for="P_RegNum"><strong>* 주민번호 앞 6자리</strong></label>
        <input type="text" class="form-control" name="P_RegNum" th:value="*{UserRegNum}" required />
      </div>

      <!-- 전화번호 -->
      <div class="form-group">
        <label for="P_Phone"><strong>* 전화번호</strong></label>
        <input type="text" class="form-control" name="P_Phone" th:value="*{UserPhone}" placeholder="숫자만 기입" required />
      </div>

      <!-- 도로명 주소 -->
      <div class="form-group">
        <label for="P_Address1"><strong>* 도로명 주소</strong></label>
        <input type="text" class="form-control" name="P_Address1" th:value="*{UserAddress1}" placeholder="예)대구시 수성구 달구벌대로 1234-12" required />
      </div>

      <!-- 주소 상세 -->
      <div class="form-group">
        <label for="P_Address2"><strong>* 주소 상세</strong></label>
        <input type="text" class="form-control" name="P_Address2" th:value="*{UserAddress2}" placeholder="예)OO빌라 101호" required />
      </div>
	<hr>
      <!-- 약 복용 유무 -->
      <div class="form-group">
        <label><strong>* 약(감기약/해열제 등) 복용 유무</strong></label><br>
        <input type="radio" id="Pill1" name="P_TakingPill" value="1">
        <label for="Pill1">유　</label>
        <input type="radio" id="Pill2" name="P_TakingPill" value="0" required checked>
        <label for="Pill2">무</label>
      </div>

      <!-- 주요 증상 -->
      <div class="form-group">
        <label><strong>* 주요 증상</strong></label><br>
        <input type="checkbox" name="P_Nose" value="1" /> 콧물 또는 코막힘　　　　　
        <input type="hidden" name="P_Nose" value="0">
        <input type="checkbox" name="P_Cough" value="1" /> 기침 또는 가래　<br>
        <input type="hidden" name="P_Cough" value="0">
        <input type="checkbox" name="P_Pain" value="1" /> 통증(두통/흉통/근육통 등)　
        <input type="hidden" name="P_Pain" value="0">
        <input type="checkbox" name="P_Diarrhea" value="1" /> 설사　
        <input type="hidden" name="P_Diarrhea" value="0">
      </div>

      <!-- 고위험군 분류 -->
      <div class="form-group">
        <label><strong>* 고위험군 분류</strong></label><br>
        <input type="radio" id="Group_1" name="P_HighRiskGroup" value="Under59">
        <label for="Group_1">59개월 이하의 소아　</label>
        <input type="radio" id="Group_2" name="P_HighRiskGroup" value="Pregnancy">
        <label for="Group_2">임산부　</label>
        <input type="radio" id="Group_3" name="P_HighRiskGroup" value="Lung">
        <label for="Group_3">만성 폐질환</label><br>
        <input type="radio" id="Group_4" name="P_HighRiskGroup" value="Diebete">
        <label for="Group_4">당뇨　</label>
        <input type="radio" id="Group_5" name="P_HighRiskGroup" value="Cancer">
        <label for="Group_5">암환자　</label>
        <input type="radio" id="Group_6" name="P_HighRiskGroup" value="None" required checked>
        <label for="Group_6">해당사항 없음　</label>
      </div>

      <!-- 시각통증척도 -->
      <div class="form-group">
        <label><strong>* 시각통증척도 (통증수치) </strong></label><br>
        
        <input type="radio" id="VAS_0" name="P_VAS" value="0" checked required />
        <label for="VAS_0">0　</label>
        <input type="radio" id="VAS_1" name="P_VAS" value="1" />
        <label for="VAS_1">1　</label>
        <input type="radio" id="VAS_2" name="P_VAS" value="2" />
        <label for="VAS_2">2　</label>
        <input type="radio" id="VAS_3" name="P_VAS" value="3" />
        <label for="VAS_3">3　</label>
        <input type="radio" id="VAS_4" name="P_VAS" value="4" />
        <label for="VAS_4">4　</label>
        <input type="radio" id="VAS_5" name="P_VAS" value="5" />
        <label for="VAS_5">5　</label><br>
        <input type="radio" id="VAS_6" name="P_VAS" value="6" />
        <label for="VAS_6">6　</label>
        <input type="radio" id="VAS_7" name="P_VAS" value="7" />
        <label for="VAS_7">7　</label>
        <input type="radio" id="VAS_8" name="P_VAS" value="8" />
        <label for="VAS_8">8　</label>
        <input type="radio" id="VAS_9" name="P_VAS" value="9" />
        <label for="VAS_9">9　</label>
        <input type="radio" id="VAS_10" name="P_VAS" value="10" />
        <label for="VAS_10">10　</label>
      </div>

      <!-- 개인 정보 수집 동의 -->
      <div class="form-group">
        <label><strong>* 개인 정보 수집 동의</strong></label><br>
        <input type="radio" id="Info_1" name="P_Agreement" value="1" required />
        <label for="Info_1">예　</label>
        <input type="radio" id="Info_2" name="P_Agreement" value="0" checked />
        <label for="Info_2">아니오</label>
      </div>
<hr>
      <!-- 제출 버튼 -->
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary" style="float:left;">저장</button>
        <button type="button" class="btn btn-secondary" onclick="history.back();">뒤로가기</button>
        <a class="btn btn-secondary" th:href="@{/Home}" role="button">홈으로</a>
      </div>
    </form>
  </div>
<br><br>
  <script src="/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
