<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>아이디 찾기 - 회원 정보 조회 결과</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<header th:insert="/UserPage/Header.html"></header>
  <div class="container mt-5" style="max-width:500px;">
    <h3 class="mb-4">아이디 찾기 - 회원 정보 조회 결과</h3>
<hr>
    <div th:if="${FindUserInfoResult.UserId != null}" class="alert alert-success">
      <b>입력하신 정보와 일치하는 회원정보를 찾았습니다.</b><br><br>
      <p><strong>아이디 : </strong> <span th:text="${FindUserInfoResult.UserId}" style="color:blue;"></span></p>
      <p><strong>이름 : </strong> <span th:text="${FindUserInfoResult.UserName}"></span></p>
      <p><strong>주민번호 앞 6자리 : </strong> <span th:text="${FindUserInfoResult.UserRegNum}"></span></p>
      <p><strong>전화번호 : </strong> <span th:text="${FindUserInfoResult.UserPhone}"></span></p>
      <p><strong>주소 : </strong> <span th:text="${FindUserInfoResult.UserAddress1}"></span></p>
      <p><strong>주소 상세 : </strong> <span th:text="${FindUserInfoResult.UserAddress2}"></span></p>
    </div>

    <div th:if="${FindUserInfoResult.UserId == null}" class="alert alert-danger">
      <p>입력하신 정보와 일치하는 회원 정보가 없습니다.</p>
    </div>
<hr>
    <div class="mt-3 text-right">
      <a href="#" th:href="@{/UserPage/Login}" class="btn btn-primary" style="float:left;">로그인</a>
      <a href="#" th:href="@{/UserPage/FindUserPw}" class="btn btn-secondary">비밀번호 찾기</a>
      <a href="#" th:href="@{/Home}" class="btn btn-secondary">홈으로</a>
    </div>
  </div>

  <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
  <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
