<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>게시글 수정</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
  </head>
  <body>
  <div th:replace="fragments/navbar :: navbar"></div>
    <header th:insert="/BoardPage/Header.html"></header>
    
    
    <div class="container">
    <h3>게시글 수정</h3>
    	<hr>
      <form method="POST">
        <div class="form-group row">
        <input type="hidden" th:value="${BoardEdit.Id}" name="Id">
          <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
          <div class="col-sm-10">
            <input type="text" name="Title" class="form-control" th:value="${BoardEdit.Title}" id="inputTitle" required/>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputAuthor" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
          <div class="col-sm-10">
            <input type="text" name="Author" th:value="${BoardEdit.Author}" class="form-control" id="inputAuthor" required/>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
          <div class="col-sm-10">
            <textarea style="height:500px;" type="text" name="Content" th:text="${BoardEdit.Content}" class="form-control" id="inputContent"></textarea>
          </div>
        </div>
        <hr>
          <div class="text-right">
            <input class="btn btn-primary" type="submit" role="button" value="등록" style="float:left;margin-left:190px;"/>
          	<button type="button" class="btn btn-secondary" onclick="history.back();">뒤로가기</button>
          	<a class="btn btn-secondary" th:href="@{/BoardPage/List}" role="button">목록</a>
          </div>
        
      </form>
    </div>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>