<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script>
    	
    	
    
    </script>
  </head>
  <body>
  <div th:replace="fragments/navbar :: navbar"></div>
    <header th:insert="/BoardPage/Header.html"></header>
    
    <div class="container mt-4">
    	<h3 class="text-center">공지사항</h3>
    	<hr>
      <table class="table">
        <thead class="thead-light">
          <tr class="text-center">
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
          </tr>
        </thead>
        
        <tbody>
        
          <tr class="text-center" th:each="board : ${BoardList}">
            <th scope="row">
              <span th:text="${board.Id}"></span>
            </th>
            <td>
            <a th:href="@{/BoardPage/Contents/{id}(id=${board.Id})}">
                <span th:text="${board.Title}"></span>
              </a>
            </td>
            <td>
              <span th:text="${board.Author}"></span>
            </td>
            <td>
              <span th:text="${#temporals.format(board.CreatedDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" th:if="${#lists.isEmpty(BoardList)}" th:text="|게시글이 없습니다.|"></div>
		<hr>
		<!-- 페이지네이션 -->
<div class="d-flex justify-content-center mt-4" th:if="${BoardList != null}">
  <ul class="pagination">
    <!-- 이전 페이지 버튼 -->
    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
      <a class="page-link" th:href="@{/BoardPage/List(page=${currentPage - 1})}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <!-- 페이지 번호 링크 -->
    <th:block th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
      <li class="page-item" th:classappend="${i == currentPage} ? 'active' : ''">
        <a class="page-link" th:href="@{/BoardPage/List(page=${i})}" th:text="${i + 1}"></a>
      </li>
    </th:block>

    <!-- 다음 페이지 버튼 -->
    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
      <a class="page-link" th:href="@{/BoardPage/List(page=${currentPage + 1})}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
		
 

        <div class="mt-3 text-left">
        	
          		<a th:if="${UserId == 'admin'}" class="btn btn-primary" th:href="@{/BoardPage/Write}" role="button">글쓰기</a>
        	
        	<a class="btn btn-secondary" th:href="@{/Home}" role="button" style="float:right;">홈으로</a>
        </div>
   	</div>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>