<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>의료 기관 통합 포털 사이트</title>
  <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
  <script>
    function CheckLogin(){
      alert("로그인 후 이용할 수 있습니다.");
    }
  </script>
</head>
<body>
<div>
<ul class="nav nav-pills nav-fill" th:if="${UserId == null}">
  	<li class="nav-item">
    <a class="nav-link" href="#" onclick="CheckLogin()">문진표작성</a>
  	</li>
  	<li class="nav-item">
    <a class="nav-link" href="#" onclick="CheckLogin()">문진표조회</a>
  	</li>
  	<li class="nav-item">
    <a class="nav-link" href="#" onclick="CheckLogin()">병원예약</a>
  	</li>
  	<li class="nav-item">
    <a class="nav-link" href="#" onclick="CheckLogin()">예약조회</a>
  	</li>
</ul>

<ul class="nav nav-pills nav-fill" th:if="${UserId != null}">
  	<li class="nav-item">
    <a class="nav-link" th:href="@{/PatientInfo/Input}">문진표작성</a>
  	</li>
  	<li class="nav-item">
    <a class="nav-link" th:href="@{/PatientInfo/List}">문진표조회</a>
  	</li>
  	<li class="nav-item">
    <a class="nav-link" th:href="@{/AppointmentPage/Input}">병원예약</a>
  	</li>
  	<li class="nav-item">
    <a class="nav-link" th:href="@{/AppointmentPage/List}">예약조회</a>
  	</li>
</ul>
</div>
  <div class="container mt-4" style="max-width:500px;">
    <h3>의료 기관 통합 포털 사이트</h3>
    <hr>
    <div th:if="${UserId == null}">
      <div class="list-group">
        <a href="#" onclick="CheckLogin()" class="list-group-item list-group-item-action">문진표작성</a>
        <a href="#" onclick="CheckLogin()" class="list-group-item list-group-item-action">문진표조회</a>
         <a href="#" onclick="CheckLogin()" class="list-group-item list-group-item-action">병원예약</a>
        <a href="#" onclick="CheckLogin()" class="list-group-item list-group-item-action">예약조회</a>
      </div>
    </div>
    <div th:if="${UserId != null}">
      <div class="list-group">
      	<a th:href="@{/PatientInfo/Input}" class="list-group-item list-group-item-action">문진표작성</a>
        <a th:href="@{/PatientInfo/List}" class="list-group-item list-group-item-action">문진표조회</a>
        <a th:href="@{/AppointmentPage/Input}" class="list-group-item list-group-item-action">병원예약</a>
        <a th:href="@{/AppointmentPage/List}" class="list-group-item list-group-item-action">예약조회</a>
      </div>
    </div>
    <hr>
    <div class="list-group">
      <a th:href="@{/PatientInfo/HospitalList}" class="list-group-item list-group-item-action">전체병원조회</a>
      <a th:href="@{/BoardPage/List}" class="list-group-item list-group-item-action">공지사항</a>
      <a th:href="@{/Home}" class="list-group-item list-group-item-action">자주묻는질문</a>
    </div>
    <hr>

    <!-- 로그인 상태에 따른 링크 표시 -->
    <div th:if="${UserId != null}">
      <p><span th:text="'환영합니다, ' + ${UserName} + ' (' + ${UserId} + ') 님'"></span></p>
      <div class="list-group">
        <a th:href="@{/UserPage/Logout}" class="list-group-item list-group-item-action">로그아웃</a>
        <a th:href="@{/UserPage/EditUserInfo}" class="list-group-item list-group-item-action">회원정보</a>
      </div>
    </div>

    <!-- 비로그인 상태에서 표시되는 링크 -->
    <div th:if="${UserId == null}">
      <div class="list-group">
        <a th:href="@{/UserPage/Login}" class="list-group-item list-group-item-action">로그인</a>
        <a th:href="@{/UserPage/SignUp}" class="list-group-item list-group-item-action">회원가입</a>
      </div>
    </div>
    <hr>
  </div>

  <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
  <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
